*{
    padding: 0;
    margin: 0;
   
}
#pepe{
    text-decoration: none
}
body{
    background-image: url(../img/fondo.jpg) 
}
.navbar{
    background: black !important
}
 
.navbar-nav{
    justify-content: space-between;
    width: 100%;  
}
a.nav-link{
    font-size: 30px
}

.hiper{
  color: black
}



.boton_footer:hover{
    background: yellow;
    color: black !important
}


























@media (max-width:991px){
    .logoNavBar {
   
        position: relative;
        left: 35%
        
            
        
    }
}